  .next-button-1 {
    width: 20px; 
    height: 20px; 
    margin-left: 10px;
  }
  .content_con{
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .content_con h4{
    font-size: 15px;

  }
  .search-bar {
    margin-right: 50px;
    margin-left: 5rem;
  }
  
  .search-bar input {
    width: 25vw; 
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .add-btn{
    width: 8vw;
     text-align: center;
    background: darkmagenta;
    color: white;
    border-radius: 12px;
    margin-left: 5rem;
  }
  .table-data{
    margin-top: 2rem;
    width: 95%;
    margin-left: 2rem;
  }
  .category-main{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
  }
  .category-content{
    width: 76.4vw;
    height: 78vh;
    background: #fbfbfb;
    border-radius: 1rem;
    /* padding-bottom: 7rem; */
  }