/* #root {
    max-width: 1280px;
    height: 529px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
  .btn {
    width: 27vw;
    text-align: center;
    background: darkslateblue;
    color: white;
    margin-top: 50px;
}
.text-field-container {
  margin-bottom: 25px;
}
.pass p{
  text-align: end;
  font-size: 13px;
  margin-top: -20px 
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}
.logo-container h4{
  font-size: 15px;
  color: grey;
}
.background-image {
  background-image: url("https://s3-alpha-sig.figma.com/img/4f8b/6e9d/609c7731d037f1b65d00906a7bc1e241?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Lb~DCvDWLcFkDtiNVfcZqGTXnoC7RSzqCMYJZQ~4GU-MdWV0roKSRgV3WlvM7Ovg1xwGhb9PNOzuerlNAKmkvMirm7jRGk0d4RNkOCEoJnsSCOTgXJsJW-ToggzcXjMHABCewk9rAfXUkNlkHjvP9o-dOHQHN5ZXFNkyJdfJ5VCpQ7Z1vuu6lOt0y-jHcIFP5GidiRZ0aP2L3gSc5ymrXeNLIQ8uhctZMvECoz2wHU4Nj22bwASU0aOCGesuJkk46rwUxTbd82LAkXjFAhZ7ruPMyOWN3gGkpv4Mfj37quE7ywEuesibtp6DEC7tNA4zOKPbek89cTLAcDycrvJszQ__");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5); /* Apply opacity to the background color */
}

